<h1>Edit Restaurant</h1>

<% if @restaurant.user_id == @current_user %>
  <%= form_with model: @restaurant, url: restaurant_url, method: 'put' do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :description %>
      <%= form.text_area :description %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
<% else %>
  "NO!"
<% end %>
