<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<%= button_to "New", new_restaurant_review_url(@restaurant.id), method: 'get' %>
<% if @restaurant.user_id == @current_user %>
  <%= button_to "Edit", edit_restaurant_path(@restaurant.id), method: 'get' %>
  <%= button_to "Delete", restaurant_url(@restaurant.id), method: 'delete' %>
<% end %>

<p>
  <% @restaurant.reviews.each do |r| %>
  <div>
    <p><%= r.rating %></p>
    <p><%= r.comment %></p>
    <% if r.user_id == @current_user %>
      <%= button_to "Edit", edit_restaurant_review_path(@restaurant.id, r.id), method: 'get' %>
      <%= button_to "Delete", restaurant_review_url(@restaurant.id, r.id), method: 'delete' %>
    <% end %>
  </div>

  <% end %>
</p>
